# macOS
.DS_Store
*.swp
*~

# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Archives
*.ipa
*.dSYM.zip
*.dSYM
